.sliderWrapper img{
    height: 85vh !important;
    object-fit: cover !important;
}
.sliderWrapper{
  height: 600px;
}
.carousel .slide .legend {
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 0 !important;
    left: 5%;
    top: 15% !important;
    margin-left: 0;
    height: 250px !important;
    width: 40% !important;
    border-radius: 10px;
    background:rgba(227, 224, 224, 0.181) !important;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    opacity: 1;
    transition: opacity .35s ease-in-out;
}
.legend h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}
.legend p{
  color: #fff;
  text-transform: lowercase;
  font-size: 1.1em;
  padding: 10px;
  line-height: 20px;
}
.legend button{
  background-color: #fff;
  padding: 10px 30px;
  color: #111;
  text-align: center;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #888;
}